* {
    margin: 0;
    padding: 0; 

body {
    background-color: rgb(0, 10, 27);
    text-align: center;
}
    

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; 
    font-size: 8vmin;
    box-shadow: 0 0 1rem; 
    color: rgba(26, 158, 219, 0.473);
}

#reset-button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    border-radius: 1rem;
}

#new-button { 
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    border-radius: 1rem;
}

.msg-container { 
    color: aliceblue;
    height: 30vmin;
}

.hide {
    display: none;
}
